<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link href="./static/assets/mark2.png" rel="apple-touch-icon">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>Knowtecq Life - About</title>  

<link href="./static/main.82cfd66e.css" rel="stylesheet"></head>

<body>

 <!-- Add your content of header -->
<header class="">
  <div class="navbar navbar-default visible-xs">
    <button type="button" class="navbar-toggle collapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="./index.html" class="navbar-brand">Knowtecq</a>
  </div>

    <nav class="sidebar">
    <div class="navbar-collapse" id="navbar-collapse">
      <div class="site-header hidden-xs">
          <a class="site-brand" href="./index.html" title="">
            <img class="img-responsive site-logo" alt="" src="./static/assets/images/mark.png">
            We're Knowtecq family
          </a>
        <p>Recording our life and growth in Knowtecq.</p>
      </div>
      <ul class="nav">
        <li><a href="./index.html" title="">Home</a></li>
        <li><a href="./about.html" title="">About</a></li>
        <li><a href="./activities.html" title="">Activities</a></li>
        <li><a href="./contact.html" title="">Contact</a></li>
        
      </ul>

      <nav class="nav-footer">
        <p class="nav-footer-social-buttons">
          <a class="fa-icon" href="http://knowtecq.pythonanywhere.com/index.html" title="">
            <i class="fa fa-instagram"></i>
          </a>
          <a class="fa-icon" href="http://knowtecq.pythonanywhere.com/index.html" title="">
            <i class="fa fa-dribbble"></i>
          </a>
          <a class="fa-icon" href="http://knowtecq.pythonanywhere.com/index.html" title="">
            <i class="fa fa-twitter"></i>
          </a>
        </p>
        <p>© Knowtecq | Website created with <a href="http://knowtecq.pythonanywhere.com/index.html" title="Welcome to our website">Peter Fan</a></p>
      </nav>  
    </div> 
  </nav>
</header>
<main class="" id="main-collapse">


<div class="row">
  <div class="col-xs-12 col-md-6">
    <img class="img-responsive" alt="" src="./static/assets/images/2019_year-endparty.png">
  </div>
  <div class="col-xs-12 col-md-6">
    <h1>About us</h1>
    
    <p>We are engineers from different backgrounds. We love and enjoy our life.</p>
    
    <h3>2019 end-year event </h3>

    <p>This is our second end-year event. Time flies, and we grow gradually with each other.</p>

    <h3>Wan Xiao Lab activity</h3>
    
    <p>Our first outdoor team building, enchaing our connection with each other and teamwork.</p>
    <h3>2018 end-year event </h3>
    <p>First end-year party. Encouraging us to face the challenges in the future and work together.</p>
    
    <a href="contact.html" class="btn btn-primary" title=""> Get in touch</a>
 </div>
</div>
    
</main>

<script>
document.addEventListener("DOMContentLoaded", function (event) {
  navbarToggleSidebar();
  navActivePage();
});
</script>

<script type="text/javascript" src="./static/main.85741bff.js"></script></body>

</html>